body{
    margin: 0;
}
.section1{
    height: 1000px;
}
.main1{
    margin: 0;
    font-family: Font1;
    font-size: 70px;
    text-align: center;
}
@font-face{
    font-family: Font1;
    src: url('/files/fonts/MADE-Soulmaze-Italic.ttf');
}