body{
    margin: 0;
}
.cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box1{
    width: 600px;
    height: 20px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    /* box-shadow: 0px 100px 420px 350px rgb(255, 248, 243); */
    margin-bottom:50px ;
    visibility:visible;
}
.cont1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lightswitch{
    height: 100px;
    padding: 90px;
}
.section1{
    height: 1920px;
    background-color:black ;
    font-size: 100px;
    font-family: Font1;
}
.intro{
    margin: 0;
    text-align: center;
}
@keyframes gradient {
    0% {
        background-position: 0% ,0%;
    }
    50% {
        background-position: 100%, 100%;
    }
    100% {
        background-position: 0%, 0%;
    }
}
@font-face {
    font-family: Font1;
    src: url('/files/fonts/MADE-Soulmaze-Italic.ttf');
}
@font-face {
    font-family: Font2;
    src: url('files/fonts/MADE-Soulmaze.ttf');
}