body{
    font-family: Font1;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 56, 56);
    font-size: 50px;
}

.button1{
    font-family: Font1;
    height: 40px;
    width: 60px;
    margin: 20px;
}

.button2{
    font-family: Font1;
    height: 40px;
    width: 60px;
    
}

@font-face {
    font-family: Font1;
    src: url('/files/fonts/MADE-Soulmaze.ttf');
}